#game {
  display: none;
}

#gameboard {
  display: flex;
  width: 360px;
  flex-wrap: wrap;
}

#gameboard div {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  margin: 10px;
}

/* Hide the winner message and new game button until the game is over */
#game-over{
  display: none;
}

/* Card Colors */
.flipped.red { background-color: red; }
.flipped.blue { background-color: blue; }
.flipped.green { background-color: green; }
.flipped.orange { background-color: orange; }
.flipped.purple { background-color: purple; }