#game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: inline-block;
}

/* Card Colors */
.flipped.red { background-color: red; }
.flipped.blue { background-color: blue; }
.flipped.green { background-color: green; }
.flipped.orange { background-color: orange; }
.flipped.purple { background-color: purple; }